
#tabs {

  height: 1200;
  border: none;

  .tab-content {
    height: 100%;
    .tab-pane {
      height: 100%;
      white-space: pre-wrap;
      overflow: hidden;
      border: 1px #aaa solid;

      .navbar {
        .navbar-inner {
          .container {

            .nav {
              white-space: initial;
              li {
                  white-space: initial;
              }
              a {
                  white-space: initial;
              }
            }
          }
        }
      }
    }
    .body-container {

      width: 70%;
      height: 100%;
      float: left;
      overflow-y: scroll;
      #live-stream , #historical-data {
        height: 900;

        .graph-group-header {

          background: lightgray;
          height: 40;
          /* capture multi-select control, right-justify */
          .btn-success , .btn-danger , .btn-group {

            float: left;
            position: relative;
            white-space: nowrap;
            margin: 5 0 0 5;
            .multiselect-container > .input-prepend > .multiselect-search {

              /* fixing a bad height in default text entry */
              height: 30;
            }
            ul > li > a > label {
              text-decoration: none;  // ... TODO turn off underline on hover
            }
          }
        }
        #historical-stock-graph {
          height: 900;
        }
      }
      #live-stream > .graph-group-header {
        #live-stop { top: -20; }
        .btn-group { top: -40; }
      }
    }
    .body-summary {
      background: lightgray;
      float: left;
      width: 25%;
      height: 500;
      margin-left: 20;
    }
  }
}
