/* line 2, ../../../templ/scss/index.scss */
#tabs {
  height: 700;
  border: none;
}
/* line 7, ../../../templ/scss/index.scss */
#tabs .tab-content {
  /*.ui-tabs-nav {
      width: 32;
      height: 100%;
      float: left;
      background: none;
      border: none;}*/
}
/* line 14, ../../../templ/scss/index.scss */
#tabs .tab-content .tab-pane {
  height: 90%;
  overflow-y: scroll;
  white-space: pre-wrap;
  border: 1px #aaa solid;
}
