/* line 2, ../../../templ/scss/index.scss */
#tabs {
  height: 1200;
  border: none;
}
/* line 7, ../../../templ/scss/index.scss */
#tabs .tab-content {
  height: 100%;
}
/* line 9, ../../../templ/scss/index.scss */
#tabs .tab-content .tab-pane {
  height: 100%;
  white-space: pre-wrap;
  overflow: hidden;
  border: 1px #aaa solid;
}
/* line 19, ../../../templ/scss/index.scss */
#tabs .tab-content .tab-pane .navbar .navbar-inner .container .nav {
  white-space: initial;
}
/* line 21, ../../../templ/scss/index.scss */
#tabs .tab-content .tab-pane .navbar .navbar-inner .container .nav li {
  white-space: initial;
}
/* line 24, ../../../templ/scss/index.scss */
#tabs .tab-content .tab-pane .navbar .navbar-inner .container .nav a {
  white-space: initial;
}
/* line 32, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container {
  width: 70%;
  height: 100%;
  float: left;
  overflow-y: scroll;
}
/* line 38, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream, #tabs .tab-content .body-container #historical-data {
  height: 900;
}
/* line 41, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream .graph-group-header, #tabs .tab-content .body-container #historical-data .graph-group-header {
  background: lightgray;
  height: 40;
  /* capture multi-select control, right-justify */
}
/* line 46, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream .graph-group-header .btn-success, #tabs .tab-content .body-container #live-stream .graph-group-header .btn-danger, #tabs .tab-content .body-container #live-stream .graph-group-header .btn-group, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-success, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-danger, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-group {
  float: left;
  position: relative;
  white-space: nowrap;
  margin: 5 0 0 5;
}
/* line 52, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream .graph-group-header .btn-success .multiselect-container > .input-prepend > .multiselect-search, #tabs .tab-content .body-container #live-stream .graph-group-header .btn-danger .multiselect-container > .input-prepend > .multiselect-search, #tabs .tab-content .body-container #live-stream .graph-group-header .btn-group .multiselect-container > .input-prepend > .multiselect-search, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-success .multiselect-container > .input-prepend > .multiselect-search, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-danger .multiselect-container > .input-prepend > .multiselect-search, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-group .multiselect-container > .input-prepend > .multiselect-search {
  /* fixing a bad height in default text entry */
  height: 30;
}
/* line 57, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream .graph-group-header .btn-success ul > li > a > label, #tabs .tab-content .body-container #live-stream .graph-group-header .btn-danger ul > li > a > label, #tabs .tab-content .body-container #live-stream .graph-group-header .btn-group ul > li > a > label, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-success ul > li > a > label, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-danger ul > li > a > label, #tabs .tab-content .body-container #historical-data .graph-group-header .btn-group ul > li > a > label {
  text-decoration: none;
}
/* line 61, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream .graph-group-header .input-append, #tabs .tab-content .body-container #historical-data .graph-group-header .input-append {
  float: right;
  position: relative;
  top: -55;
}
/* line 65, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream .graph-group-header .input-append .span2, #tabs .tab-content .body-container #historical-data .graph-group-header .input-append .span2 {
  height: 30;
}
/* line 70, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream #live-stock-graph, #tabs .tab-content .body-container #live-stream #historical-stock-graph, #tabs .tab-content .body-container #historical-data #live-stock-graph, #tabs .tab-content .body-container #historical-data #historical-stock-graph {
  height: 800;
}
/* line 75, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream > .graph-group-header #live-stop {
  top: -20;
}
/* line 76, ../../../templ/scss/index.scss */
#tabs .tab-content .body-container #live-stream > .graph-group-header .btn-group {
  top: -40;
}
/* line 79, ../../../templ/scss/index.scss */
#tabs .tab-content .body-summary {
  background: lightgray;
  float: left;
  width: 25%;
  height: 500;
  margin-left: 20;
}
