%html
  %head
    %meta( charset="UTF-8" )
    %title Edgar: At your command

  %body
    #content

      #tabs.tabbable.tabs-left
        %ul.nav.nav-tabs
          %li.active
            %a( href="#tab-one" data-toggle="tab" )
              Main Deck
          %li
            %a( href="#tab-two" data-toggle="tab" )
              Filter Deck

        .tab-content
          #tab-one.tab-pane.active

            .navbar
              .navbar-inner
                .container
                  %ul.nav
                    %li
                      %a.brand( href="#" )
                        Edgar
                    %li
                      %a( href="#live-stream" )
                        Live Stream
                    %li
                      %a( href="#historical-data" )
                        Historical Data

            .body-container
              #live-stream
                .graph-group-header
                  %button#live-initialize.btn.btn-success( type="button" )
                    Initialize
                  %button#live-stop.btn.btn-danger( type="button" )
                    Stop
                  %select.multiselect-live( multiple="multiple" )
                #live-stock-graph

              #historical-data
                .graph-group-header
                  %select.multiselect-historical( multiple="multiple" )
                #historical-stock-graph

            .body-summary

          #tab-two.tab-pane

  %link( rel="stylesheet" href="/include/vendor/lionbars/lionbars.css")
  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap.min.css" )
  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap-responsive.min.css" )
  %link( rel="stylesheet" href="/include/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" )

  %link( rel="stylesheet" href="/include/css/scss/index.css" )

  %script( type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js" )
  %script( type="text/javascript" src="/include/vendor/bootstrap/js/bootstrap.min.js")
  %script( type="text/javascript" src="/include/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js")


  %script( type="text/javascript" src="/include/vendor/lionbars/jquery.lionbars.0.3.min.js")
  %script( type="text/javascript" src="/include/vendor/Highstock-1.3.2/js/highstock.js")

  %script( type="text/javascript" src="/include/javascript/main.js" )
  %script( type="text/javascript" )
    goog.require("edgar")
