%html
  %head
    %meta( charset="UTF-8" )
    %title Edgar: At your command

  %body
    #content

      #tabs.tabbable.tabs-left
        %ul.nav.nav-tabs
          %li.active
            %a( href="#tab-one" data-toggle="tab" )
              Main Deck
          %li
            %a( href="#tab-two" data-toggle="tab" )
              Filter Deck

        .tab-content
          #tab-one.tab-pane.active


            .navbar
              .navbar-inner
                .container
                  %ul.nav
                    %li
                      %a.brand( href="#" )
                        Edgar
                    %li
                      %a( href="#live-stream" )
                        Live Stream
                    %li
                      %a( href="#historical-data" )
                        Historical Data

            .body-container
              #live-stream
                .graph-group-header
                  %button#live-initialize.btn.btn-success( type="button" )
                    Initialize
                  %button#live-stop.btn.btn-danger( type="button" )
                    Stop
                  %select.multiselect-live( multiple="multiple" )
                #main-stock-graph

              #historical-data
                .graph-group-header
                  %select.multiselect-historical( multiple="multiple" )
                Historical Data Here

            .body-summary

          #tab-two.tab-pane
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque odio felis, ultrices eu hendrerit et, auctor id massa. Sed laoreet, ligula ac mattis condimentum, mauris lectus fringilla sem, at bibendum est augue eget purus. Aenean ac rhoncus nunc. Duis ullamcorper, dolor a iaculis malesuada, leo magna vulputate ipsum, id malesuada massa nisl id eros. Etiam porta eros at lorem consequat tincidunt. Mauris metus nisl, condimentum id lacinia a, hendrerit eget justo. Proin mollis magna id nibh vehicula posuere. Nulla vulputate aliquam sapien, at euismod risus tincidunt nec. Mauris consectetur ultricies lorem a sagittis. Nulla facilisi. Fusce suscipit, augue a commodo blandit, augue mauris luctus ligula, id eleifend ante elit ut ante. Integer quis rutrum dui.

            Proin sit amet erat ipsum, a aliquam orci. Pellentesque euismod lectus vel turpis sodales at consequat quam molestie. Mauris vehicula, tortor eu sollicitudin congue, arcu dui sollicitudin purus, mollis dictum odio nisl in purus. Aliquam id leo in arcu consectetur eleifend et in purus. Donec condimentum augue ut nisi euismod adipiscing. Suspendisse euismod sem sit amet ligula adipiscing in eleifend nisi auctor. Sed tincidunt hendrerit ornare. Cras dolor neque, porta at interdum quis, interdum quis orci.

            Nullam at dignissim libero. Maecenas ut nisi sapien. In aliquam, augue eget eleifend tincidunt, enim justo semper nibh, at sollicitudin dolor justo nec lorem. Pellentesque commodo, odio in iaculis accumsan, tortor orci lacinia neque, sed ultrices arcu felis at neque. Nullam eros orci, sollicitudin vel venenatis non, varius eget dolor. Donec placerat nunc eget tortor egestas vehicula. Curabitur id ipsum arcu, at convallis mauris. Praesent consectetur pellentesque metus, eget egestas justo dapibus sed. Donec viverra pellentesque nunc, vitae facilisis leo cursus at. Morbi vulputate ultrices neque, et malesuada leo molestie eu. Suspendisse libero nisi, luctus a venenatis ut, aliquam ac massa. Aenean semper, odio et suscipit suscipit, libero sapien accumsan dui, volutpat sodales ipsum mauris eget sapien. Maecenas sodales pulvinar tortor. Nam eu eros eget augue congue sollicitudin. Morbi laoreet commodo risus eget elementum.

            Donec eget purus eu nulla interdum pretium. Cras eu vestibulum purus. Mauris vehicula, neque non laoreet sollicitudin, lorem sem scelerisque metus, quis aliquet urna lectus eget nibh. Duis pellentesque hendrerit turpis, in ullamcorper nisl ultrices ut. Quisque tristique, odio id eleifend viverra, purus nibh auctor ante, id sollicitudin mi nibh et felis. Praesent mauris sapien, consequat vel tincidunt nec, dapibus id metus. Integer elit ligula, feugiat id porttitor vel, cursus eu felis. Vivamus augue augue, suscipit vel luctus id, cursus vel enim. Nam nec urna a eros pharetra adipiscing. Duis magna velit, scelerisque quis lacinia ac, convallis dictum diam. Morbi lacinia ullamcorper mi, id bibendum mauris congue at. Aliquam feugiat suscipit nibh vel euismod. In hac habitasse platea dictumst. Cras viverra sapien eu libero posuere sit amet sagittis odio gravida.

            Nam rutrum tellus vel ligula scelerisque bibendum. Sed vel metus mi, ut volutpat sapien. Sed laoreet eros porta lorem fermentum sit amet vehicula massa porta. Etiam faucibus lectus sit amet felis semper ut semper lectus pretium. Nullam elit eros, euismod vel adipiscing ut, tincidunt nec dui. Aliquam vel ante vitae sapien pretium rutrum. Maecenas id eros nibh. Nam cursus ultrices vulputate. Morbi sit amet mauris vitae nibh porta mollis eget non lacus. Quisque euismod rutrum iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In pharetra, elit eget auctor pellentesque, ipsum lorem scelerisque urna, sit amet euismod magna purus sed massa. Nullam aliquet vulputate nunc id commodo. Aenean ut posuere urna.

            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            Praesent id ipsum nec nisi vulputate hendrerit. Ut aliquam interdum sem, in varius ante vehicula at. Maecenas consequat accumsan massa, rhoncus vehicula purus suscipit at. Ut id turpis nec metus tristique pellentesque. Aliquam ultricies vulputate purus a egestas. Proin non mi ac sapien tristique adipiscing ut vel augue. Quisque sed ornare mauris. Suspendisse laoreet tortor id felis egestas aliquam. Phasellus vehicula nibh vel mi laoreet sed rhoncus eros venenatis. Etiam fermentum congue tortor id cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean posuere ornare purus, eu condimentum sem viverra vel. Vestibulum tempor luctus augue, sit amet auctor magna vehicula et.

            Integer vitae eros velit. Donec a erat nisi. Cras ac ligula sed metus mattis mattis. Nunc semper iaculis metus, eget dictum metus pulvinar eget. Suspendisse vehicula nisl eu justo aliquet euismod tincidunt orci bibendum. Cras aliquam lacus ut est ultrices dapibus. Vestibulum ornare lectus sit amet elit egestas tincidunt. Sed eget euismod risus. Pellentesque vestibulum, quam sit amet tristique porta, purus ante tincidunt massa, in convallis eros lacus non est. Sed tellus felis, lacinia nec cursus ut, aliquam iaculis magna.

            Maecenas quis turpis ac est tempor scelerisque. Etiam vulputate nulla at mauris facilisis hendrerit. Fusce viverra, tortor at scelerisque tincidunt, mauris lectus ullamcorper enim, malesuada consectetur mi eros nec lacus. Nunc pretium consectetur tellus, ut scelerisque eros fringilla vel. Nullam ultricies, nisi eget convallis aliquet, dolor quam pellentesque felis, quis tempor lectus leo ac leo. Quisque pulvinar nibh ut purus hendrerit vitae venenatis ligula luctus. Vivamus non nulla non est vulputate rhoncus ac id est. Praesent eu orci tellus.

            Nullam nulla lacus, suscipit eu molestie nec, pharetra ac odio. Integer eu odio orci, id euismod augue. Etiam mollis blandit iaculis. Sed ultrices sapien sit amet neque vehicula quis dictum magna pulvinar. Vestibulum orci lacus, interdum eu feugiat ac, posuere fermentum sem. Donec congue dapibus quam, quis ullamcorper nunc facilisis vel. In hac habitasse platea dictumst. Curabitur suscipit volutpat dui et auctor. Mauris a magna id enim congue fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere dignissim felis, id convallis felis tincidunt malesuada.

            Duis sollicitudin malesuada nulla, molestie consequat turpis placerat sed. Praesent sit amet sapien felis. Praesent vulputate lorem sit amet libero laoreet ut volutpat neque elementum. Nulla venenatis, lectus id pellentesque semper, lacus augue vehicula neque, vel sodales eros est eu nisi. Curabitur eleifend laoreet ante eget ultricies. Sed pretium, felis vitae imperdiet hendrerit, risus eros rutrum urna, sit amet elementum turpis mi sit amet urna. Ut tempor interdum nibh, quis bibendum leo blandit ac. Vestibulum convallis mauris at velit dignissim eget accumsan augue dictum. Aenean suscipit luctus ultrices. Curabitur dictum, nisi at euismod volutpat, ante dolor imperdiet nisl, a pretium ante nulla nec elit. Sed aliquet, sapien a laoreet fermentum, lectus orci facilisis lacus, ac porttitor turpis enim ut elit. Curabitur vehicula, libero ac vestibulum ullamcorper, mauris dolor venenatis tortor, ac aliquet erat odio vel odio. Sed nec viverra metus. Cras aliquam ultrices eros, dictum aliquet justo suscipit nec.

            Vivamus tortor eros, malesuada dapibus ornare id, iaculis nec tellus. Nam vulputate malesuada sagittis. Cras fringilla risus vitae tellus accumsan ac aliquam est lacinia. Sed blandit placerat bibendum. Curabitur et neque diam. Sed elit quam, molestie a porttitor at, sagittis gravida metus. Praesent quis commodo elit. Donec semper aliquet libero et lobortis. Mauris lacinia nibh a nisl congue ut hendrerit dui auctor. In lacinia pellentesque adipiscing. Donec viverra luctus erat eget condimentum. Morbi quis libero arcu, ut porta tortor. Cras aliquam enim ut nulla volutpat pellentesque aliquet ligula commodo. Integer sed arcu a libero fringilla interdum.

            Etiam dapibus ligula in est venenatis vitae vulputate velit tempor. Nunc aliquet imperdiet massa, vel tempor dui laoreet vel. Cras a nibh quam. Ut malesuada risus id lorem fringilla pulvinar. Pellentesque porta dapibus orci, et ullamcorper sapien egestas non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut neque erat, malesuada et pellentesque ut, congue in massa. Nulla condimentum tincidunt pellentesque. Curabitur suscipit, dolor at faucibus lobortis, nisl augue volutpat quam, et porttitor tellus quam ut nunc. Phasellus turpis nunc, rutrum et fringilla id, tincidunt et libero. Cras elementum vehicula egestas. Morbi sodales mauris eu lacus porttitor posuere. Nullam a mi sem. Quisque id convallis erat. Nulla at ligula arcu, ac tempus tellus. In sollicitudin aliquet nisi, et viverra lectus pulvinar vel.

            Fusce neque odio, porttitor vel vestibulum sit amet, mattis et metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquet lorem sed nisl adipiscing viverra. In sem enim, sollicitudin sed egestas ut, imperdiet ac orci. Integer auctor dui in dui imperdiet sit amet consectetur odio dictum. Aliquam ut pharetra quam. Vivamus commodo volutpat orci, a dictum sem elementum at. Suspendisse potenti. Mauris in arcu felis. Nullam et magna ipsum. Praesent consequat velit quis risus eleifend fermentum. Ut rutrum sodales orci, vitae aliquam nisi iaculis a. Ut vitae odio velit, id sodales mi.

  /%link( rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  %link( rel="stylesheet" href="/include/vendor/lionbars/lionbars.css")
  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap.min.css" )
  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap-responsive.min.css" )
  %link( rel="stylesheet" href="/include/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" )

  %link( rel="stylesheet" href="/include/css/scss/index.css" )

  %script( type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js" )
  %script( type="text/javascript" src="/include/vendor/bootstrap/js/bootstrap.min.js")
  %script( type="text/javascript" src="/include/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js")


  %script( type="text/javascript" src="/include/vendor/lionbars/jquery.lionbars.0.3.min.js")
  %script( type="text/javascript" src="/include/vendor/Highstock-1.3.1/js/highstock.js")

  %script( type="text/javascript" src="/include/javascript/main.js" )
  %script( type="text/javascript" )
    goog.require("edgar")
